header{
    background-color: #030303;
    width: 100%;
    height: 130px;
}
footer{
    background-color: #030303;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    background-color: #030303;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
bottom: 0;
left: 0;
}

.nome{
    font-size: larger;
    font-weight: bold;
    color: white;
}
.space{
    margin: 0px 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.loginregister{
    margin-left: 10px;
    margin-right: 10px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
     width: 100%;
     height: 50px;
}